language: node_js
node_js:
  - '8'
services:
  - mongodb
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
sudo: required
before_script: npm i -g eslint mocha
script:
  - npm run cover
